/*#571e59 : #a9e6a7*/
/*#FAFAFA almost white*/
body {
  /*font-family: 'Libre Baskerville', serif;*/
  /*font-family: helvetica;*/
  font-family: 'Droid Sans Mono', monospace;
  /*color: #571e59;*/
  color: #FAFAFA;
}

.fadeout {
  height: 100vh;
  width: 100vw;
  background: rbga(0,0,0,.5)
}


/* center text that should dissapear after entry*/
.border h1 {
  font-size: 8em;
  /*color: rgba(115, 81, 78, 1);*/
  /*color: : #a9e6a7;*/
  text-align: center;
}

/*TEMPLATE*/
/*div template for all boards*/
.board {
  /*!!!padding: 0;
  margin: 0;*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*styling main landing div */
.landingPage {
  background-color: rgba(0,0,0,.3);
}
.aboutMe {
  padding: 0 20px 0 20px;
  background-color: rbga(0,0,0,.4);
}
.aboutMe p {
  color: #FAFAFA;
  font-size: 3vh;
  text-align: center;
  /*color: rgb(17, 11, 22);*/
}

.border{
  height: 80vh;
  width: 87vw;
  border: 2px solid #571e59;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom-nav img {
  height: 5vw;
  width: 5vw;
}

.swap-name {
  /*color: rgba(232, 12, 73, 1);*/
  color: rgba(163, 255, 222, 1);
  /*color: #571e59;*/
  font-weight: 800;
  font-size: 1.5em;
}

/* styling the first background static div*/
.background-one {
  /*image is fixed and will remain in bg for the height amount*/
  background: url('../images/flower2560.jpg') no-repeat center /*center*/ fixed;
  /*background-zoom: 50%;*/
  /*background: url('../images/flower.jpg') no-repeat center center fixed;*/
  /*background-size: 100%;*/
  background-size: cover;
  /*zoom: 50%;*/
  /*width: cover;*/
  height: 200vh;
  z-index: 5;
}

/*PORTFOLIO div*/
.portfolio {
  background: url('../images/background-two2560.jpg') no-repeat center fixed;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*styling <p> tag inside of the second background image*/
.portfolio > p {
  display: block;
  font-size: 10vh;
  text-align: center;
  color: #FAFAFA;
}

/*DIVIDER DIV*/
/*divider portion styling to uniform sizing*/
.divider {
  background-color: #FAFAFA;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider p {
  text-align: center;
  color: rgb(17, 11, 22);
}

/*PROJECTS CONTAINER*/
.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*INDIVIDUAL PROJECT*/
/*enclosing divs for project show*/
.project {
  margin: 2vw;
  height: 20vh;
  width: 20vh;
  /*border: 1px solid red;*/
  border-radius: 10px;
}

/*project one for minesweeper*/
.project.one {
  background: url('../images/minesweeper.png') no-repeat center;
  background-size: 100%;
}

/*project two for reask*/
.project.two {
  background: url('../images/reask.png') no-repeat left;
  /*background-size: width height;*/
  background-size: cover;
}

.project.three {
  background: url('../images/iparkmyself.png') no-repeat center;
  /* interesting, cover will be contained in the element*/
  background-size: cover;
  /*border-radius: 10px;*/
}

.project.four {
  border: 1px solid red;
}

.inside.aboutMe {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*BIG PICTURE DIV*/
/* this is just going to have a big picture of me or food*/
.bigPicture {
  /*border: 1px solid red;*/
  /*background-height: 100%;*/
  background: url('../images/sriracha.jpg') no-repeat center;
  background-size: 100%;
  -webkit-box-shadow: inset 1px 1px 2px 1.5px rgba(0,0,0,0.56);
  -moz-box-shadow: inset 1px 1px 2px 1.5px rgba(0,0,0,0.56);
  box-shadow: inset 1px 1px 2px 1.5px rgba(0,0,0,0.56);
}

.foodPicture {
  background: url('../images/pokeprep.jpg') no-repeat center fixed;
  background-size: 100%;
  -webkit-box-shadow: inset 1px 1px 2px 1.5px rgba(0,0,0,0.56);
  -moz-box-shadow: inset 1px 1px 2px 1.5px rgba(0,0,0,0.56);
  box-shadow: inset 1px 1px 2px 1.5px rgba(0,0,0,0.56);
}
