html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #FAFAFA;
  font-family: 'helvetica';
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  /*border: 1px solid orange;*/
}

.cont {
  min-width: 680px;
  /*height: 100%;*/
  border: 2px solid blue;
}

.project-container {
  display: none;
  height: 100px;
  width: 100%;
  border: 2px solid red;
  background-color: #FAFAFA;
}

.flex {
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-around;
  /*align-items: center;*/
}

div.proj-title {
  cursor: pointer;
}
div.proj-title p{
  padding: 0;
  margin: 0;
}

.border {
  border: 1px solid red;
}

