@import '../sass/variables';

.header {
  color: $color-text-default;
  background-color: $color-background-default;
  padding: $margin-page;

  &--title {
      margin: 10px 0;
      padding: 0;
  }

  .email {
    &:link, &:visited {
      color: $color-text-title;
    }

    &:hover {
      color: $color-text-highlight;
    }
  }
}
