html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /*background-color: #FAFAFA;*/
  background-color: #222;
  color: #FAFAFA;
  font-family: 'helvetica';
  display: flex;
  justify-content: center;
}

a {
  color: hotpink;
}

.cont {
  min-width: 680px;
}

.proj-cont {
  display: none;
  height: 250px;
  width: 100%;
  /*background-color: #FAFAFA;*/
  border: 1px solid orange;
}

.proj-cont div {
  height: 80%;
}

.fade-in {
  opacity: 1;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*.description-container {
 height: 80%;
}*/

.flex {
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-around;
  align-items: center;
}

div.proj-title {
  cursor: pointer;
}
div.proj-title p{
  padding: 0;
  margin: 0;
}

ul.skills {
  /*list-style-position:inside*/
  /*list-style-image: url('../images/avocado.png')*/
}

.skillcont {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.border {
  border: 1px solid red;
}

