html {
  margin: 0;
  /*width: 95vw;*/
  /*height: 95vh;*/
  /*border: 3px solid black;*/
}

body {
  margin: 0;
  height: 90vh;
  width: 99vw;
  background-color: #FAFAFA;
  font-family: 'helvetica';
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  border: 2px solid orange;
}

.container {
  max-width: 680px;
  height: 100%;
  border: 2px solid blue;
}

.project-container {
  display: none;
  height: 100px;
  width: 100%;
  border: 2px solid red;
  background-color: #FAFAFA;
}

.flex {
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-around;
  /*align-items: center;*/
}

/*.unhidden {
  display: block;
}*/


.border {
  border: 1px solid red;
}

