h1 {
  /*why the fuck didn't I use normalize?*/
  padding: 0;
  margin: 10px 0;
}

h2 {
  font-size: 200%;
}

h3 {
  color: greenyellow;
}

header {
  padding: 40px;
  background-color: #FFFFFF;
  color: #222;
}

.email:link, .email:visited {
  color: blue;
}

.email:hover {
  color: lime;
}

main {
  padding: 0 0 40px 40px;
}

a:link {
  color: #B0C4DE;
}

a:visited {
  color: #B0C4DE;
}

a:hover {
  color: magenta;
}

.cont {
  /*border: 1px solid orange;*/
}

.bottom-link:link, .bottom-link:visited {
  /*background-color: red;*/
  /*padding: 10px;*/
  /*display: inline-block;*/
}

.contact-info {
  margin: 10px 0 10px 0;
}

.border {
  /*border: 1px solid red;*/
}

@media (max-width: 500px) {
  main {
    padding: 0 0 20px 20px;
  }
  header {
    padding: 30px 20px;
  }
}
