a:link {
  color: #B0C4DE;
}

a:visited {
  color: #B0C4DE;
}

a:hover {
  color: magenta;
}

.cont {
  /*border: 1px solid orange;*/
}

.bottom-link:link, .bottom-link:visited {
  /*background-color: red;*/
  /*padding: 10px;*/
  /*display: inline-block;*/
}

.contact-info {
  margin: 10px 0 10px 0;
}
